Frontend/Frontend/Desktop/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PotLogService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/PotLogService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/PotLogService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindEventById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindEventById" />
  </wsdl:message>
  <wsdl:message name="IService_FindEventById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindEventByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SignUpForEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUpForEvent" />
  </wsdl:message>
  <wsdl:message name="IService_SignUpForEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpForEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsRegisteredToEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRegisteredToEvent" />
  </wsdl:message>
  <wsdl:message name="IService_IsRegisteredToEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRegisteredToEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCategoryById" />
  </wsdl:message>
  <wsdl:message name="IService_FindCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddCategoryToEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryToEvent" />
  </wsdl:message>
  <wsdl:message name="IService_AddCategoryToEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryToEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddItemToCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToCategory" />
  </wsdl:message>
  <wsdl:message name="IService_AddItemToCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindComponentByParentId_InputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentByParentId" />
  </wsdl:message>
  <wsdl:message name="IService_FindComponentByParentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentByParentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetInviteString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInviteString" />
  </wsdl:message>
  <wsdl:message name="IService_GetInviteString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInviteStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AcceptInviteString_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptInviteString" />
  </wsdl:message>
  <wsdl:message name="IService_AcceptInviteString_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptInviteStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SignUpForItem_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUpForItem" />
  </wsdl:message>
  <wsdl:message name="IService_SignUpForItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpForItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsam:Action="http://tempuri.org/IService/CreateUser" message="tns:IService_CreateUser_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/CreateUserResponse" message="tns:IService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsam:Action="http://tempuri.org/IService/LogIn" message="tns:IService_LogIn_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/LogInResponse" message="tns:IService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsam:Action="http://tempuri.org/IService/CreateEvent" message="tns:IService_CreateEvent_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/CreateEventResponse" message="tns:IService_CreateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindEventById">
      <wsdl:input wsam:Action="http://tempuri.org/IService/FindEventById" message="tns:IService_FindEventById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/FindEventByIdResponse" message="tns:IService_FindEventById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUpForEvent">
      <wsdl:input wsam:Action="http://tempuri.org/IService/SignUpForEvent" message="tns:IService_SignUpForEvent_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/SignUpForEventResponse" message="tns:IService_SignUpForEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredToEvent">
      <wsdl:input wsam:Action="http://tempuri.org/IService/IsRegisteredToEvent" message="tns:IService_IsRegisteredToEvent_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/IsRegisteredToEventResponse" message="tns:IService_IsRegisteredToEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCategoryById">
      <wsdl:input wsam:Action="http://tempuri.org/IService/FindCategoryById" message="tns:IService_FindCategoryById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/FindCategoryByIdResponse" message="tns:IService_FindCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsam:Action="http://tempuri.org/IService/UpdateUserInfo" message="tns:IService_UpdateUserInfo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/UpdateUserInfoResponse" message="tns:IService_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategoryToEvent">
      <wsdl:input wsam:Action="http://tempuri.org/IService/AddCategoryToEvent" message="tns:IService_AddCategoryToEvent_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/AddCategoryToEventResponse" message="tns:IService_AddCategoryToEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItemToCategory">
      <wsdl:input wsam:Action="http://tempuri.org/IService/AddItemToCategory" message="tns:IService_AddItemToCategory_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/AddItemToCategoryResponse" message="tns:IService_AddItemToCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindComponentByParentId">
      <wsdl:input wsam:Action="http://tempuri.org/IService/FindComponentByParentId" message="tns:IService_FindComponentByParentId_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/FindComponentByParentIdResponse" message="tns:IService_FindComponentByParentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInviteString">
      <wsdl:input wsam:Action="http://tempuri.org/IService/GetInviteString" message="tns:IService_GetInviteString_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/GetInviteStringResponse" message="tns:IService_GetInviteString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptInviteString">
      <wsdl:input wsam:Action="http://tempuri.org/IService/AcceptInviteString" message="tns:IService_AcceptInviteString_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/AcceptInviteStringResponse" message="tns:IService_AcceptInviteString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUpForItem">
      <wsdl:input wsam:Action="http://tempuri.org/IService/SignUpForItem" message="tns:IService_SignUpForItem_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/SignUpForItemResponse" message="tns:IService_SignUpForItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/IService/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEventById">
      <soap:operation soapAction="http://tempuri.org/IService/FindEventById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUpForEvent">
      <soap:operation soapAction="http://tempuri.org/IService/SignUpForEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredToEvent">
      <soap:operation soapAction="http://tempuri.org/IService/IsRegisteredToEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCategoryById">
      <soap:operation soapAction="http://tempuri.org/IService/FindCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategoryToEvent">
      <soap:operation soapAction="http://tempuri.org/IService/AddCategoryToEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItemToCategory">
      <soap:operation soapAction="http://tempuri.org/IService/AddItemToCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindComponentByParentId">
      <soap:operation soapAction="http://tempuri.org/IService/FindComponentByParentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInviteString">
      <soap:operation soapAction="http://tempuri.org/IService/GetInviteString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptInviteString">
      <soap:operation soapAction="http://tempuri.org/IService/AcceptInviteString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUpForItem">
      <soap:operation soapAction="http://tempuri.org/IService/SignUpForItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8080/PotLogService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>